.error-popup {
  position: fixed;
  width: auto;
  bottom: 10%;
  right: 10%;
  padding: 5;
  background: lightpink;
  color: darkred;
  animation: errorAnim 0.3s 1 forwards ease-out;
}

.error-popup-cross {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 25px;
  color: darkred;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

@keyframes errorAnim {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 75px;
  }
}
