.leaderboard {
  margin-bottom: 70px;
  width: 400px;
}

.profile-link {
  color: navy;
}

.profile-link:hover {
  color: cornflowerblue;
}

.leaderboard .fas {
  font-size: 12px !important;
}

@media only screen and (max-width: 400px) {
  .leaderboard {
    margin-bottom: 70px;
    width: 100%;
  }
}
